body{
    background-image: linear-gradient(#3f72af, #dbe2ef);
}

.nav-bar{
    background-color: #112d4e;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    border-radius: 20px;
}

button{
    background-color: #3f72af;
    width: 100px;
    height: 40px;
    border-radius: 15px;
}

button:hover{
    background-color: aquamarine;
}

h1{
    text-align: center;
}

.formulario{
    margin-left: 430px;
    display: flexbox;
}

form{
    max-width: 450px;
    text-align: center;
    margin-top: 20px;
    background-color: #1561b88a;
    border-radius: 45px;
    border-color: aq7;
    box-shadow: 5px 5px 50px 5px;
    margin-bottom: 100px;
}

.enviaForm{
    margin-top: 5px;
    margin-bottom: 5px;

}

footer{
    background-color: #112d4e;
    color: #f9f7f7;
    text-align: center;
    border-radius: 20px;
} 